@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
}

a {
  @apply text-base;
}

a:hover {
  @apply underline text-primary;
}

.markdown-content h1 {
  @apply my-4 text-2xl;
}

.markdown-content h2 {
  @apply my-4 text-xl;
}

.markdown-content a {
  @apply text-primary;
}

.markdown-content p {
  @apply my-4 text-lg;
  line-height: 1.5rem;
}

.markdown-content ul {
  @apply ml-4;
  list-style: circle;
}

.mobile-visible {
  @apply mt-4;
}

.mobile-visible a {
  @apply text-2xl pt-4;
}
